ol {
    display: inline-block;
}

h1 {
    color:gray;
    text-decoration: underline;
    text-align: center;
    position:sticky;
}

h1,h2,h3,h4 {
    font-family: "Jersey 25", sans-serif;
}

:root {
    --date-color: #1e90ff;
}

#date {
    color: var(--date-color, blue);
}

li:has(~ li) {
    margin-bottom: 5px;
}

label+input{
    margin-left:10px;
}

main h2 {
    color: rgb(10, 85, 77);
}

.nav-item {
    color: rgb(21, 129, 179);
}

.nav-item:hover {
    color: rgb(119, 167, 170);
}

.nav-item:active {
    color: red;
}

div * {
    margin-top: 20px;
    margin-bottom: 20px;
}

div p {
    color:black;
}

#meeting-note-form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    justify-items: stretch;
    align-items: stretch;
    padding: 5%;
}

[class*="container"]  {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:5px;
    padding-bottom: 5px;
}

@media (min-width: 768px) {
    #meeting-note-form {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 1024px) {
    main {
        padding: 0 20px; 
    }
}

h4 {
    display: inline;
    margin: 10px;
}

.party-pic {
    max-width:400px;
    position:relative;
    border-color:black;
    border:2px;
    border-style:solid;
    border-radius: 25% 10%;
}

#intern-rec {
    width:600px;
    height:300px;
    margin:auto;
}

button.submit {
    color: white;
    background-color: rgb(27, 196, 27);
}